/*
!/.gitignore

!/wp-content/
/wp-content/*
!/wp-content/themes/
/wp-content/themes/*
!/wp-content/themes/duydev/
/wp-content/themes/duydev/vendor

!/wp-content/plugins/
/wp-content/plugins/*
!/wp-content/plugins/duydev


# /wp-content/plugins/artemis/*
# !/wp-content/plugins/acf
# !/wp-content/plugins/chaty